@import "reset.css";

$color-prim: #707070;
$color-secon: #000000;
$color-link: #891818;
$color-light: #FFFFFF;

.header {
  height: 958px;
  background-image: url("./assets/images/banner.png") center center no-repeat;
}

.footer {
  color: $color-light;
  padding-top: 64px;  
  padding-bottom: 64px;
  background-color: $color-secon;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
